@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  background-color: #11131f;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 10px 30px 10px 30px;
}
